{% extends 'base/base.html' %}
{% load static %}

{% block main %}
    {% if messages %}
        {% for message in messages %}
            <div class="notification-container" id="notification-container">
                <div class="notification" id="notification">
                    <p class="notification-message" id="notification-message">{{ message }}</p>
                    <button class="close-btn" id="close-btn">&times;</button>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <main>

        {% include 'profile_edit/menu.html' %}

        <section class="content">
          <div id="personal-info" class="profile-section">
            <h2>Personal Information</h2>
            <form class="profile-form" method="POST">
                {% csrf_token %}
                {% for f in form %}
                    <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                    {{ f }}
                    <div style="color: red;">{{ f.errors }}</div>
                {% endfor %}
              <button type="submit">Save</button>
            </form>
          </div>
        </section>
    </main>
{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/personal-inf.css' %}">
{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'js/profile-edit.js' %}"></script>
    <script src="{% static 'js/success_registration.js' %}"></script>
{% endblock %}
