{% extends 'authorization/base_auth.html' %}
{% load static %}

{% block main %}
    <!-- Login Admin -->
    <form class="form-default" action="" method="POST">
        {% csrf_token %}
        <div class="login-form">
            <!-- logo-login -->
            <div class="logo-login">
                <a href="{% url 'index' %}"><img src="{% static 'img/logo/loder.png' %}"></a>
            </div>
            <h2>Login</h2>
            <div class="form-input">
                <label for="{{ form.email.label }}">{{ form.email.label }}</label>
                {{ form.email }}
            </div>
            <div class="form-input">
                <label for="{{ form.password.label }}">{{ form.password.label }}</label>
                {{ form.password }}
            </div>
            <div style="color: red;">{{ form.password.errors }}</div>
            <div style="color: red;">{{ form.non_field_errors }}</div>
            <div class="form-input pt-30">
                <input type="submit" name="submit" value="login">
            </div>
            <!-- Forget Password -->
            <a href="{% url 'password-reset' %}" class="forget">Forget Password</a>
            <!-- Forget Password -->
            <a href="{% url 'signup' %}" class="registration">Registration</a>
        </div>
    </form>
{% endblock %}