{% extends 'authorization/base_auth.html' %}
{% load static %}

{% block main %}
    <!-- Login Admin -->
    <form class="form-default" action="" method="POST">
        {% csrf_token %}
        <div class="login-form">
            <!-- logo-login -->
            <div class="logo-login">
                <a href="{% url 'index' %}"><img src="{% static 'img/logo/loder.png' %}"></a>
            </div>
            <h2>Change Password</h2>
            {% for f in form %}
            <div class="form-input">
                <label for="{{ f.label }}">{{ f.label }}</label>
                {{ f }}
            </div>
            {% endfor %}

            <div style="color: red;">{{ form.new_password1.errors }}</div>
            <div style="color: red;">{{ form.new_password2.errors }}</div>
            <div style="color: red;">{{ form.non_field_errors }}</div>
            <div class="form-input pt-30">
                <input type="submit" name="submit" value="Confirm">
            </div>
            <!-- Forget Password -->
            <!-- Forget Password -->
        </div>
    </form>
{% endblock %}
