{% extends 'authorization/base_auth.html' %}
{% load static %}

{% block main %}
    <!-- Login Admin -->
    <div class="login-form">
        <h2>Password reset</h2>
         <p style="color:#fff; text-align: center">We’ve emailed you instructions for setting your password. You should receive them shortly.
            If you don’t receive an email, please check your spam folder.
         </p>
         <div class="form-input pt-30">
               <a href="{% url 'signin' %}">
                   <input type="submit" name="submit" value="OK">
               </a>
         </div>
     </div>
    <!-- /end login form -->
{% endblock %}