{% extends 'authorization/base_auth.html' %}
{% load static %}

{% block main %}
    <!-- Login Admin -->
    <form class="form-default" action="" method="POST">
        {% csrf_token %}
        <div class="login-form">
        <h2>Registration</h2>
            <!-- logo-login -->
            {% for f in form %}
                <div class="form-input">
                    <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                    {{ f }}
                    <div style="color: red;">{{ f.errors }}</div>
                </div>
            {% endfor %}

            <div class="form-input pt-30">
                <input type="submit" name="submit" value="Registration">
            </div>
            <!-- Forget Password -->
            <a href="{% url 'signin' %}" class="registration">login</a>
        </div>
    </form>
{% endblock %}
